@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&family=Science+Gothic:wght@100..900&display=swap');

body{
    min-height: 100vh;
    background: linear-gradient(to bottom, black , darkred);
    color: white;
    font-family: "Science Gothic", sans-serif;
}

header{
    padding: 60px;
    width: auto;
}

h1{
    color: darkred;
    font-family: "Bruno Ace SC", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

h2{
    color: red;
    font-family: "Bruno Ace SC", sans-serif;
    font-weight: 400;
    font-style: normal;
}

nav{
    background-color: white;
    padding: 10px 20px;
    width: auto;
    margin-bottom: 25px;
}
.form-control{
    background-color: rgb(116, 27, 27);
}

.form-control:focus {
    border-color: black;
    box-shadow: 0 0 5px red;
    background-color: rgb(116, 27, 27);
    color: white;
}

.form-control::placeholder {
   color: white;
}

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

#seccion-agregar{
    background-color: black;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
}

#btnSuperheroes{
    background-color: darkred;
    color: white;
    width: fit-content;
}